@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@font-face {
    font-family: Agrandir;
    src: url(fonts/agrandir-grand-bold.ttf);
}

@font-face {
    font-family: Codec;
    src: url(fonts/codec.ttf);
}

@font-face {
    font-family: Grotesk;
    src: url(fonts/grotesk.ttf);
}

@font-face {
    font-family: Grotesk;
    src: url(fonts/grotesk-bold.ttf);
    font-weight: bold;
} 

@font-face {
    font-family: 'oui';
    src: url('fonts/oui.eot');
    src: url('fonts/oui.eot?#iefix') format('embedded-opentype'),
         url('fonts/oui.woff') format('woff'),
         url('fonts/oui.ttf') format('truetype'),
         url('fonts/oui.svg#oui') format('svg');
    font-weight: normal;
    font-style: normal;
}


html {
    overflow-x: hidden;
}

body {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    max-width: 1920px;
}

body:not(.dark):not(.light) {
    background-image: url(imgs/background.jpg);
    background-size: cover;
}

body.light {
    background-color: #fff;
    background-position: center top;
    background-size: 1200px;
    background-repeat: no-repeat;
}

body.dark {
    background-color: #000;
    background-position: center top;
    background-size: 1200px;
    background-repeat: no-repeat;
}

body.light header *, body.light .breadcrumb * {
    color: black !important;
}

body.light header input::placeholder {
    color: #000;
}

body.light header input {
    border-color: #000;
}

body.dark::before {
    background-color: #000;
}

body.dark::before, body.light::before {
    content: '';
    background-image: url(imgs/rose.png);
    background-attachment: scroll;
    background-position: center top;
    background-size: 1200px;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100%;
    max-height: 1200px;
    position: absolute;
    z-index: -1;
    opacity: 0.6;
}

body.category {
    max-width: 1800px;
}

header {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0 30px;
}

header #top-header nav {
    flex: 2;
}

#top-header {
    display: flex;
    align-items: center;
}

#top-header > * {
    flex: 1;
    margin: 20px 10px;
}

.main-title a {
    color: white;
    text-decoration: none;

}

.main-title, .main-title a {
    font-family: "Ubuntu", sans-serif;
    display: flex;
    align-items: center;
}

.main-title * {
    margin: 0;
}

.main-title img {
    width: 50px;
    margin-right: 20px;
}

.main-title h1 {
    text-align: center;
    font-size: 25.6px;
    font-weight: bold;
    margin-bottom: 0;
}

.main-title h2 {
    margin-top: 2px;
    text-align: center;
    font-size: 12.3px;
    font-weight: normal;
}

#top-header > a {
    text-align: right;
}

#header-profil {
    text-align: right;
}

#header-profil * {
    letter-spacing: 1px;
    padding: 10px;
    color: black;
    background-color: #f51cda;
    text-decoration: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    font-family: Ubuntu;
    text-transform: uppercase;
    vertical-align: middle;
    display: inline-block;
    border: none;
    cursor: pointer;
    line-height: 10px;
    margin-left: 20px;
}

#header-profil *:hover {
    color: white;
}

#header-profil *::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    line-height: 10px;
    font-size: 22px;
    content: "\f007";
    vertical-align: middle;
    margin-right: 5px;
}

#header-profil a:before {
    content: "\f086";
    font-size: 20px;
}   


header ul {
    display: flex;
    list-style-type: none;
    flex: 1;
    margin: 0;
}

header ul li {
    margin: 5px;
    flex: 1;
    text-align: center;
}

header ul a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 11.8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
    display: inline-block;
}

header ul a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

header input{
    text-align: left;
    background-color: transparent;
    border: solid 2px;
    border-radius: 20px;
    color: white;
    border-color: #fff;
    padding: 5px;
    padding-left: 30px;
}

header input::placeholder {
    opacity: 1;
    text-align: left;
    color: white;
}
  
div.search {
    position: relative;
}

header div i {
    position: absolute;
    left: 8px;
    color: #fff;
    top: 8px;
}

main {
    flex: 1 1 auto;
    vertical-align: middle;
    color: white;
    padding: 0 30px;
    margin-bottom: 10px;
}

main h2 {
    color:white;
    font-family: "Ubuntu", sans-serif;
    font-size: 42.1px;
    font-weight: bold;
    text-align: left;
}

#chat {
    float: right;
}

#chat img {
    width: 50px;
    transition: transform 0.1s ease;
}

#chat img:hover {
    transform: scale(110%);
}

#decouvrir {
    margin: 20px;
    text-align: center;
}

#decouvrir a {
    color: white;
    text-transform: uppercase;
    padding: 20px 50px;
    border-radius: 50px;
    font-size: 16.2px;
    font-weight: bold;
    font-family: Codec;
    text-decoration: none;
    background: linear-gradient(to left, #ff3c5f, #9340ff);
    transition: box-shadow 0.2s ease;
    /* display: inline-block; */
}

#decouvrir a:hover {
  -webkit-box-shadow:inset 0px 0px 0px 10px #fff;
  -moz-box-shadow:inset 0px 0px 0px 10px #fff;
  box-shadow:inset 0px 0px 0px 3px #fff;
}

footer {
    flex: 0 1 40px;
    background-color: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: solid 2px;
    display: flex;
    flex-direction: column;
    border-color: #f51cda;
    border-bottom: none;
}

footer a {
    color: black;
    text-decoration: none;
}

footer {
    font-family: Poppins;
    font-size: 16px;
}

footer .top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
}

footer .left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

footer #infos {
    flex: 2;
}

#infos nav {
    display: flex;
    justify-content: right;
}

#infos nav ul {
    list-style-type: none;
    position: relative;
    padding-left: 0;
    margin-right: 50px;
}

#infos li {
    margin-bottom: 5px;
}

#law ul {
    display: flex;
    list-style-type: none;
    border-top: 1px solid #adacb8;
    margin: 0 50px;
    text-align: center;
}

#law ul li {
    flex: 1;
    padding: 10px 10px;
    text-transform: uppercase;
}

#infos a:hover, #law a:hover {
    text-decoration: underline;
}


#infos div:not(:last-child) ul:after {
    content:"";
    position:absolute;
    top:0;
    right:-25px;
    width:1px;
    height: 50px;
    background:#adacb8;
}

#newsletter input, #newsletter input:focus {
    text-align: left;
    background-color: transparent;
    border: solid 2px;
    border-radius: 50px;
    border-color: #e16ed2;
    padding: 15px;
    width: 100%;
    position: relative;
}

#newsletter input::placeholder {
    /* opacity: 1; */
    text-align: left;
    padding-left: 0px;
}

#newsletter input:focus {
    outline: none;
}

#newsletter .search {
    position: relative;
}

#newsletter a {
    position: absolute;
    color: white;
    top: 5px;
    right: -28px;
    background-color: #e16ed2;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
}

footer select {
    background: none;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
}

#foreground {
    transition: background-color 0.3s ease;
}

#foreground.enabled {
    position:fixed;
    height:100vh;
    width:100vw;
    background-color:#000;
    opacity:0.3;
    z-index: 1;
}



aside {
    width: 350px;
    position: fixed;
    top: 0;
    height: 100%;
    background-color: white;
    padding: 60px 30px;
    z-index: 2;
    box-sizing: border-box;
    font-family: Poppins;
    right: -500px;
    transition: right 0.3s ease;
    box-shadow: -10px 0px 50px 10px #000000;
}

aside.enabled {
    right: 0;
}

aside h3 {
    font-size: 27px;
    font-family: Ubuntu;
}

aside .back {
    font-size: 13px;
    font-family: Ubuntu;
    color: black;
    text-decoration: none;
    align-items: center;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
}

aside .back > * {
    display: inline-block;
    vertical-align: middle;
}

aside .back:hover {
    color: #cf17b8;
}

aside .back span {
    margin-left: 5px;
}

aside form {
    display: flex;
    flex-direction: column;
}

aside label {
    display: block;
    margin: 5px 0;
    font-size: 12;
}

aside input[type="text"], 
aside input[type="password"],
aside input[type="mail"] 
{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    color: black;
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    background-color: #ececec;
}

aside form .names {
    display: flex;
}

aside form div div,
aside form div:not(:first-child) {
    width: 100%;
    /* display: flex;
    flex-direction: column; */
}

aside form div div:first-child {
    margin-right: 10px;
}

aside form > div {
    margin-bottom: 10px;
}

aside input[type="submit"] {
    color: black;
    background-color: #f51cda;
    padding: 10px 30px;
    font-size: 14px;
    border: solid 1px black;
    border-radius: 15px;
    display: block;
    margin: 10px auto;
    cursor: pointer;
}

aside input[type="submit"]:hover {
    color: white;
}

aside h4 {
    text-align: center;
    font-size: 14;
    text-transform: uppercase;
    margin: 0;
}

aside h4::before, aside h4::after {
    content: '';
    width: 40%;
    border-bottom: solid 1px black;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

aside p {
    text-align: center;
}

aside .links {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

aside #forgot {
    text-align: right;
    color: black;
    text-decoration: underline;
    float: right;
}

aside #forgot:hover {
    color: #cf17b8;
}

#connection > p button {
    background: none;
    border: none;
    color: #000;
    text-decoration: underline;
    font-size: 16px;
    cursor: pointer;
}

#connection > p button:hover {
    color: #cf17b8;
}


.cards {
    display: grid; /* 1 */
    grid-template-columns: repeat(auto-fill, 350px); /* 2 */
    grid-gap: 1rem; /* 3 */
    justify-content: space-between; /* 4 */
}


.cards::after {
    content: "";
    flex: auto;
  }

.card {
    background-color: #f51cda;
    border: solid 2px #f51cda;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    transition: scale 0.1s ease-out;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 30px 2px;
}

.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.card .content {
    padding: 5px 10px;
    font-family: Agrandir;
    text-transform: uppercase;
    font-weight: normal;
}

.card h1 {
    font-size: 18px;
    margin: 0;
}

.card span {
    font-size: 12px;
    font-family: "JetBrains Mono", monospace;
    display: inline-block;
    margin: 5px 0;
    /* vertical-align: middle; */
}

.card span::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    margin-right: 5px;
    color: white;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
}

.card .price::before {
    content: '\f02b';
}

.card .date::before {
    content: '\f073';
}

.card .location::before {
    content: '\f3c5';
}

.card .details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card .details > * {
    flex-basis: 50%;
}

.card:hover {
    scale: 105%;
}

.event main {
    max-width:none;
    padding: 0;
    position: relative;
    margin: 0 50px;
}

.event main .event-container {
    background-color: #f51cda;
    margin: 50px auto;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    color: #000;
    padding: 20px;
    max-width: 1000px;
    position: relative;
}

.card-row {
    position: relative;

    grid-gap: 3rem;
    display: flex;
    margin: 50px;
}

.event main .event-container::before, .card-row:not(.no-rose):before {
    content: "";
    width: 50vw;
    height: 100px;
    background-color: #f51cda;
    display: inline-block;
    position: absolute;
    top: calc(90% - 100px);
    right: 100%;
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.5) -50px 0px 36px -28px inset;
}

.event main .event-container::after, .card-row:not(.no-rose):after {
    content: "";
    width: 50vw;
    height: 100px;
    background-color: #f51cda;
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 100%;
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.5) 50px 0px 36px -28px inset;
}


.event main img {
    object-fit: cover;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    object-position: right;
}

.event form {
    padding: 20px 50px;
}

.event fieldset {
    border: none;
    padding: 0;
}

.event .dates-container {
    display: flex;
    margin: 10px 30px;
}

.event form h1 {
    text-transform: uppercase;
    font-family: Agrandir;
    font-size: 18px;
}

.dates-container input {
    display: none; 
}

.dates-container input:checked + label div {
    border-color: #000;
}

.dates-container label div {
    border: solid 2px #c817b2;
    margin-right: 10px;
    text-align: center;
    padding: 10px;
    font-family: Agrandir;
    cursor: pointer;
    transition: border 0.1s ease-in-out;
    user-select: none;
}

.dates-container p {
    margin: 0;
}

.dates-container .jour {
    font-size: 13.7px;
}

.dates-container .numero {
    font-size: 40.2px;
}

.dates-container .mois-annee {
    font-size: 13.5px;
    margin-top: -10px;
}

.dates-container .ville {
    font-size: 10.3px;
    margin-top: 5px;
}

.event legend {
    font-size: 15.8px;
}

.event .localisation, .event .prix {
    font-size: 13.8px;
    margin: 0;

}

.event .description {
    font-size: 10.8px;
    font-style: italic;
}

.event form button {
    font-size: 18.8px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background-color: #f89bec;
    padding: 10px 20px;
    cursor: pointer;
    margin: auto;
    transition: background 0.1s ease;
}

.event form button:hover {
    background-color: #faaaef;
}

.event .buy {
    text-align: center;
}

.page-numbers {
    text-align: center;
    user-select: none;

}

.page-number {

    font-family: Poppins;
    font-size: 14px;
    border: solid 2px white;
    color: white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    font-weight: bold;
    margin: 3px;
    margin-top: -20px;
    margin-bottom: 50px;
    text-align: center;
}

body.light .page-number {
    color: #000;
    border-color: #000;
}

body.light .page-number.selected {
    background-color: #ef43cf;
}


.page-number.selected {
    background-color: #500e51;
}

.breadcrumb {
    letter-spacing: 1px;

    display: inline-block;
    border-bottom: 1px solid #adacb8;
    margin-top: 20px;
    padding-left: calc(80px + (100vw - 1800px) / 2);
    padding-bottom: 10px;
    position: absolute;
    left: 0;
}



@media screen and (max-width: 1800px) {
    .breadcrumb {
        padding-left: 80px;
    }
}

.breadcrumb a {
    color: white;
    /* margin-left: 10px; */
    text-decoration: none;
    font-family: Ubuntu;
    font-size: 11.7px;
    font-weight: bold;
    text-transform: uppercase;  
}

.breadcrumb a:hover {
    color:#cf17b8;
}

.breadcrumb a:not(:last-child)::after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    color: white;
    font-size: 15px;
    content: '\f105';
    margin-left: 10px;
    margin-right: 5px;
    pointer-events: none;
    display: inline-block;
    vertical-align: middle;
    /* cursor:text; */
}

.breadcrumb + * {
    margin-top: 90px;
}

.infos main {
    font-family: poppins;
    font-size: 15px;
    padding: 0 50px;
    text-align: justify;
}

.infos main h1 {
    font-family: poppins;
    font-size: 15px;
}

.infos main a {
    color: white;
}

.infos main a:hover {
    color: #cf17b8;
}

.histoire {
    background: linear-gradient(135deg, #13072e, #6c2182);
    border-radius :50px;
    padding: 30px;
    margin-bottom: 30px;
    display: flex;
}

.histoire h1 {
    font-size: 30px !important;
    font-weight: bold;
}

.histoire img {
    object-fit: contain;
    max-width: 40%;
    margin: 0 40px;
}

.contact {
    margin: 100px 200px;
}

.contact legend {
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 25.5px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.contact div {
    display: flex;
}

.contact input[type="text"] {
    font-family: Poppins;
    font-size: 13px;
    box-sizing: border-box;
    width: 50%;
    padding: 10px;
    margin: 20px 0;
    /* margin: 10px; */
    color: black;
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    background-color: #ececec;
}

.contact input[type="text"]:first-of-type {
    margin-right: 20px;
}

.contact textarea {
    margin: 20px 0;
    font-family: Poppins;
    font-size: 13px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    color: black;
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    background-color: #ececec;
}

.contact button {
    font-family: Poppins;
    font-size: 13px;
    padding: 10px 30px;
    margin: 10px 0;
    background-color: #ef43cf;
    border: none;
    color: white;
    border-radius: 10px;
}

.faq {
    display: flex;
    margin-bottom: 50px;
}

.faq img {
    max-width: 100%;
    max-height: 300px;
}


main .faq .left h1 {
    font-family: Grotesk;
    font-size: 40.5px;
    font-weight: bold;
    margin-top: 0;
    display: inline-block;
    text-align: left;
    position: relative;
}

.faq h1::after {
    content: url(imgs/etoile.svg);
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 50px;
    right: 0px;
}

.faq .left {
    width: 40%;
    margin: 0 20px;
}

.faq .right {
    width: 60%;
    margin: 0 20px;
}

/* Style the button that is used to open and close the collapsible content */
.faq .collapsible {
    background: radial-gradient(500px at left top, #384b59, #2c2c2c);
    background: line;
    font-size: 17px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-radius: 10px;
    text-align: left;
    outline: none;
    font-family: Grotesk;
}

.faq .collapsible:first-of-type {
    margin-top: 0;
}

.faq .collapsible::after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    margin-right: 5px;
    color: white;
    font-size: 15px;
    vertical-align: middle;
    content: "\f107";
    float: right;
}

.faq .active::after, .faq .collapsible:not(.active):hover::after {
    color: black;
}

.faq .active::after {
    content: "\f106";
    color: #01cabd;
}
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.faq .active, .faq .collapsible:hover {
    background: none;
    background-color: #fff !important;
    color: black;
}
  
/* Style the collapsible content. Note: hidden by default */
.faq .content {
    padding: 0 18px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    max-height: 0;
    font-family: "Nunito", sans-serif;
    font-size: 15.1px;
    color: #c6c6c6;
} 


#mon-profil h1 {
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 27.2px;
    font-family: Ubuntu;
    margin: 50px 0;
    font-weight: bold;
}

#mon-profil img {
    width: 50px;
    vertical-align: middle;
    margin-right: 20px;
}

#mon-profil ul {
    padding-left: 0;
}

#mon-profil li {
    margin-bottom: 20px;
    list-style-type: none;
}

#mon-profil nav a {
    font-size: 19.2px;
    font-family: Ubuntu;
    color: black;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
}

#mon-profil nav a:hover {
    color: #f51cda;
}

#mon-profil nav a::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    margin-right: 20px;
    color: #f51cda;
    font-size: 25px;
    display: inline-block;
    vertical-align: top;
    width: 30px;
    text-align: center;
}

#mon-profil nav .mon-compte::before {
    content: "\f007";
}

#mon-profil nav .mes-favoris::before {
    content: "\f004";
}

#mon-profil nav .mes-billets::before {
    content: "A";
    font-size: 30px;
    font-family: 'oui';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

#mon-profil nav .mes-contacts::before {
    content: "\f0c0";
    color: #f51cda;
}

#mon-profil .logout {
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    text-align: center;
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 70px;
    padding-top: 30px;
    border-top: solid 1px black;

}

#mon-profil .logout::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    margin-right: 10px;
    color: #f00;
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    text-align: center;
    content: "\f05e";
}

.compte main h1 {
    margin-bottom: 50px;
}

.compte main > h1, .compte main h2 {
    text-align: center;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
}

.compte main h2 {
    text-align: left;
    font-size: 22px;
    margin: 0;
}

.compte .card-row {
    grid-gap: 5rem;
}

.compte .card h1 {
    margin-bottom: 0;
}

.compte main > .content {
    display: flex;
    justify-content: center;
    align-content: center;
}

.compte main > .content .coords {
    flex: 1;
    margin-left: 100px;
}

.compte main > .content .reservations {
    flex: 2;
    border-left: 1px solid white;
    padding-left: 50px;
}


.compte main > .content .reservations .card-row {
    margin: 0;
    margin-top: 45px;
}

.compte main h3 {
    font-family: Ubuntu;
    font-size: 17px;
    font-weight: bold;
    margin: 0;
}

.compte main p {
    margin-top: 5px;
    font-family: Ubuntu;
    font-size: 17px;
}

.compte main {
    margin-bottom: 50px;
}

.compte .content .infos-principales {
    display: flex;
    margin-bottom: 20px;
}

.compte .content .coords img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.compte .content .coords > div:not(.infos-principales) {
    margin-left: 10px;
}

.compte {
    max-width: 1500px;
}

.billets main > h1 {
    font-size: 40px;
    color: white;
    font-family: Ubuntu;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.billets main > .content {
    display: flex;
    grid-gap: 2rem;
}

.billets main > .content > div {
    flex: 1;
}

.billets main > .content .billet {
    display: flex;
    background-color: #f51cda;
    border-radius: 30px;
    color: #000;
    padding: 20px;
    /* min-height: 20vw; */
    overflow-y: auto;
    margin-top: 20px;
    background-image: url(imgs/bar.png);
    background-position: 97% 12%;
    background-repeat: no-repeat;
    background-size: 10%;
}

.billets main > .content .billet .content {
    margin-left: 20px;
}

.billets main > .content .billet img:first-child {
    border-radius: 10px;
    width: 17vw;
    /* height: 400px; */
    text-align: center;
    object-fit: cover;
}

.billets main > .content .billet h2 {
    font-family: Agrandir;
    font-size: 1vw;
    color: black;
    text-transform: uppercase;

}

.billets main > .content .billet .horaire {
    font-family: Ubuntu;
    font-size: 0.8vw;
    border: 2px solid black;
    font-weight: bold;
    background-color: #f867e6;
    border-radius: 2px;
    padding: 5px;
    display: inline-block;
    text-transform: uppercase;
}

.billets main > .content .billet .place {
    text-align: center;
    font-family: Agrandir;
    font-size: 0.9vw;
    font-weight: bold;
}

.billets main > .content .billet .description {
    font-family: Poppins;
    font-size: 0.8vw;
    font-style: italic;
    text-align: justify;
}

.billets main > .content .billet .loc::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    margin-right: 5px;
    color: #fbabf1;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    content: '\f3c5';

}

.billets main > .content .billet .prix::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    margin-right: 5px;
    color: #fbabf1;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    content: '\f02b';
}

.billets main > .content .billet .loc,
.billets main > .content .billet .prix {
    font-size: 0.9vw;
    font-family: Poppins;
    margin: 0;
    margin-top: 5px;
}

.billets main > .content .billet .qr {
    width: 50px;
}


.billets main {
    margin-bottom: 50px;
}

.billets main > .content a {
    font-size: 14px;
    font-family: Poppins;
    color: black;
    background-color: #8f8f8f;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 5px;
}

body.contacts .matchs .list {
    flex: 1.3;
}

body.contacts .matchs .details {
    flex: 1;
}

body.contacts .matchs .list {
    border-right: 1px white solid;
}

body.contacts .matchs {
    display: flex;
}

body.contacts .matchs .select {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    grid-auto-rows: minmax(100px, auto);
    margin: 50px;
}

body.contacts .matchs .search,
body.contacts .messages .search
{
    display: flex;
    background-color: #f51cda;
    padding: 10px 40px;
    justify-content: space-between;
}

body.contacts .matchs .search img,
body.contacts .messages .search img {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

body.contacts .matchs .search h1,
body.contacts .messages .search h1 {
    display: inline-block;
    vertical-align: middle;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}
body.contacts .matchs .search input,
body.contacts .messages .search input {
    text-align: left;
    background-color: transparent;
    border: solid 2px;
    border-radius: 20px;
    color: white;
    border-color: #fff;
    padding: 5px;
    padding-left: 30px;
}

body.contacts .matchs .search input::placeholder,
body.contacts .messages .search input::placeholder {
    opacity: 1;
}

body.contacts .matchs .search i,
body.contacts .messages .search i {
    position: absolute;
    top: 20px;
    left: 50px;
}

body.contacts main {
    padding: 0;
}

body.contacts .matchs .switch ul,
body.contacts .messages .switch ul {
    display: flex;
    list-style-type: none;
    margin: 30px 0;
    padding: 0;
    justify-content: space-around;
}

body.contacts .matchs .switch ul button,
body.contacts .messages .switch ul button {
    background: none;
    color: white;
    border: none;
    font-family: Ubuntu;
    font-size: 17.9px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 2px;
    padding: 5px 10px;
}

body.contacts .matchs .switch ul button.selected,
body.contacts .messages .switch ul button.selected {
    border-bottom: solid 3px #f51cda;
}

body.contacts .details .profil {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

body.contacts .details .profil-card {
    background-color: #6f0e66;
    font-family: Ubuntu;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 300px;
    opacity: 0.9;
}

body.contacts .details .profil-card > div img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 30px;
    border: solid 5px #f51cda;box-sizing: border-box;
}


body.contacts .details .interact {
    text-align: center;
    margin-top: 10px;
}


body.contacts .details .interact button {
    color: white;
    background: linear-gradient(to right, #ff3c5f, #9340ff);
    border: none;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 10px;
    margin-top: 0;
}

body.contacts .details .profil-card > div {
    position: relative;
}

body.contacts .details .profil-card > div h1 {
    text-align: center;
    margin: 0;
    margin-top: -50px;
    color: #000;
    font-size: 25px;
    letter-spacing: 2px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body.contacts .details .profil-card section {
    padding: 5px 20px;
}

body.contacts .details .profil-card h2 {
    font-size: 12px;
}

body.contacts .details .profil-card span {
    background-color: #f51cda;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

body.contacts .details .profil > button {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    margin: 30px;
    padding: 30px;
}

body.contacts .details .buttons button {
    margin-top: 20px;
    margin-left: 20px;
    color: white;
    background-color: #f51cda;
    font-family: Ubuntu;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

body.contacts .matchs .match {
    text-align: center;
}

body.contacts .matchs .match img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 30px;
}

body.contacts .matchs .match h2 {
    text-align: center;
    margin: 0;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

body.contacts .matchs .match p {
    margin: 0;
    font-family: Ubuntu;
    font-size: 12px;
}


body.contacts .details .profil-card .likes {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

body.contacts .details .profil-card .likes img {
    flex: 1;
    width: 50px;
    height: 20px;
    object-fit: cover;
}

body.contacts .details .profil-card .likes img:first-child {
    object-position: top;
}

body.contacts .messages {
    display: flex;
}

body.contacts .messages section {
    flex: 1;
}

body.contacts .messages {
    display: none;
}

body.contacts .messages > section > ul {
    padding-left: 50px;
    list-style-type: none;
}

body.contacts .messages > section > ul li {
    display: flex;
    margin: 20px;
    position: relative;
    width: 300px;
    padding: 10px;
}

body.contacts .messages > section > ul li > * {
    margin: auto 0;
}

body.contacts .messages > section > ul img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 20px;
}

body.contacts .messages > section > ul li > div {
    display: inline;
}
body.contacts .messages > section > ul h2 {
    margin: 0;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: Ubuntu;
}

body.contacts .messages > section > ul p {
    margin: 0;
    font-size: 14px;
    opacity: 0.5;
    font-family: Ubuntu;
    letter-spacing: 2px;
}

body.contacts .messages > section > ul i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

body.contacts .messages > section > ul li:hover {
    background-color: rgb(65, 65, 65);
    border-radius: 20px;
}

body.contacts .messages > section:first-child {
    /* margin-right: 10px; */
    border-right: 1px white solid;
    flex: 1.3;
}

body.contacts .messages .top {
    display: flex;
    padding: 20px 30px;
    border-bottom: 1px solid white;
}

body.contacts .messages .top > i{
    margin: auto 0;
    margin-right: 30px;
    font-size: 30px;
}

body.contacts .messages .top img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 100%;
    margin: auto 0;
    margin-right: 10px;
}

body.contacts .messages .top .call {
    margin: auto 0;
    margin-left: auto;
}

body.contacts .messages .top .name {
    margin: auto 0;
}

body.contacts .messages .top .name h2 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
}

body.contacts .messages .top .name p {
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: bold;
    opacity: 0.6;
    margin: 0;
    letter-spacing: 2px;
}

body.contacts .messages .top .call i {
    font-size: 20px;
    margin: 10px;
}


body.contacts .messages .buttons button {
    margin-top: 20px;
    margin-left: 20px;
    color: white;
    background-color: #f51cda;
    font-family: Ubuntu;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

body.contacts .messages .text {
    display: flex;
    scrollbar-color: #9340ff #9340ff;
    height: 580px;
    overflow-y: scroll;
    flex-direction: column-reverse
}

body.contacts .messages .text > div {
    padding: 30px 50px;
    flex-direction: column;
    margin-right: 10px;
    scrollbar-width:auto;
    display: flex;
}

body.contacts .messages .text .date {
    font-family: Ubuntu;
    font-size: 10px;
    font-weight: bold;
    color: white;
    opacity: 0.8;
    text-align: center;
    text-transform: uppercase;
}

body.contacts .messages .text .me {
    font-family: Arial;
    font-size: 15px;
    color: white;
    background: linear-gradient(to right, #ff3c5f, #9340ff);
    padding: 10px 20px;
    border-radius: 50px;
    max-width: 300px;
    margin-left: auto;
    display: inline-block;
}

body.contacts .messages .text .they {
    font-family: Arial;
    font-size: 15px;
    color: white;
    background: black;
    padding: 10px 20px;
    border-radius: 50px;
    max-width: 300px;
    margin-right: auto;
}

body.contacts .messages .send {
    background-color: #464646;
    text-align: center;
    margin-left: 40px;
    border-radius: 30px;
    padding: 10px;
}

body.contacts .messages .send {
    display: flex;
    flex-grow:2;

}

body.contacts .messages .send input {
    background: none;
    border: none;
    color: white;
    flex-grow:2;
    display: inline-block;
    outline: none;
    font-family: Arial;
    font-size: 15px;
}

body.contacts .messages .send i {
    color: white;
    margin: auto 0;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
}

body.contacts .messages .bottom button {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

body.contacts .messages .bottom {
    display: flex;
    margin-right: 40px;
}

body.contacts .partage {
    display: inline-block;
    margin-top: 75px;
    margin-left: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: #f51cda;
    font-family: Ubuntu;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

.tweets {
    max-width: 800px;
    margin: auto;
    margin-top: 90px;
}

.tweet {
    border: 1px solid rgb(90, 90, 90);
    display: flex;
    padding: 20px;
    border-bottom: none;
    font-family: Ubuntu;
}

.tweet:last-child {
    border-bottom: 1px solid rgb(90, 90, 90);
}

.tweet .pp {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 20px;
}

.tweet .head {
    display: flex;
    justify-content: space-between;
}

.tweet .head h1 {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin: 0;
    font-family: Ubuntu;
    margin: auto 0;
}

.tweet .head h1 i {
    font-size: 20px;
    opacity: 0.7;
    font-style: normal;
    font-family: Ubuntu;
    font-weight: bold;
}

.tweet .head > div > * {
    display: inline-block;
}

.tweet .when {
    font-size: 15px;
    color: white;
    opacity: 0.7;
    font-family: Ubuntu;
    letter-spacing: 2px;
    vertical-align: middle;
}

.tweet .head button {
    background: none;
    border: none;
    color: white;
    font-size: 15px;
    vertical-align: middle;
    margin-left: 20px;
    cursor: pointer;
}

.tweet img {
    max-width: 400px;
    max-height: 400px;
    border-radius: 20px;
}

.tweet .interact button {
    border: none;
    background: none;
    color: white;
    font-size: 20px;
    margin: 10px;
    margin-left: 0;
    cursor: pointer;
}


.tweets .send {
    background-color: #4d4d4dc9;
    border-radius: 10px;
    margin-bottom: 30px;
}

.tweets .send > div:first-child {
    display: flex;
    flex-grow:2;
    padding: 20px 30px;
    padding-bottom: 10px;
}

.tweets .send > div:last-child {
    display: flex;
    flex-grow:2;
    padding: 20px 30px;
    padding-top: 0;
}


.tweets .send input {
    background: none;
    border: none;
    color: white;
    flex-grow:2;
    display: inline-block;
    outline: none;
    font-family: Arial;
    font-size: 15px;
}

.tweets .send i {
    color: white;
    margin: auto 0;
    margin-left: auto;
    font-size: 20px;
    cursor: pointer;
}

.tweets .send button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-right: 5px;
}

.sidebar#achat {
    height: 600px;
    top: calc(50vh);
    transform: translateY(-50%);
    margin: auto;
    text-align: left;
    border-radius: 10px;
    padding: 40px 0;
}

.sidebar#achat.enabled {
    right: 10px;
}

.sidebar#achat .back {
    margin-left: 30px;
}

.sidebar#achat form {
    margin: 0;
    padding: 0;
}

.sidebar#achat select {
    font-family: Poppins;
    font-size: 16px;
    background-color: #9d9d9d;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    border-right: 10px solid transparent;
    display: inline-block;
    width: 200px;
    margin-top: 20px;
    margin-left: 30px;
}

.sidebar#achat label {
    font-family: Poppins;
    font-size: 16px;
    margin-left: 30px;
    margin-top: 20px;
}

.sidebar#achat input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
.sidebar#achat input[type=number]::-webkit-inner-spin-button, 
.sidebar#achat input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}

#choix-nombre {
    box-sizing: border-box;
    display: flex;
    background-color: #dddddd;
    font-size: 16px;
    font-family: Poppins;
    padding: 10px;
    padding-left: 50px;
    margin-top: 10px;
}

#choix-nombre input {
    width: 20px;
    background: none;
    border: none;
    font-size: 16px;
    font-family: Poppins;
    text-align: center;
}

#choix-nombre button {
    border: none;
    background: none;
    font-size: 16px;
    font-family: Poppins;
}

.sidebar#achat .prix {
    margin-top: 20px;
    border-top: 1px solid black;
}

.sidebar#achat .prix a {
    border: solid 1px black;
    border-radius: 5px;
    background-color: #dddddd;
    display: block;
    margin: 30px;
    font-family: Poppins;
    font-size: 14px;
    padding: 10px 20px;
}

.sidebar#achat .prix a img {
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.sidebar#achat .prix div {
    box-sizing: border-box;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    font-family: Poppins;
    font-size: 15px;
}

.sidebar#achat .prix div p {
    margin: 5px 0;
}

.sidebar#achat .prix * {
    text-align: left;
}

.sidebar#achat input[type="submit"] {
    background-color: #f51cda;
    color: white;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    text-transform: uppercase;
    display: block;
    margin: 30px;
    font-weight: bold;
    border: none;
}

.payement main .billet {
    display: flex;
    align-content: center;
    background-color: #f51cda;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
}

.payement main .billet img {
    width: 50px;
    height: 60px;
    object-fit: cover;
    margin: auto 0;
    object-position: right;
    margin-right: 10px;
    border-radius: 5px;
}

.payement main .billet h2 {
    margin: auto 0;
    font-family: Ubuntu;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.payement main .billet p {
    margin: auto 0;
    font-family: Ubuntu;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 10px;
}

.payement main h1 {
    font-family: Ubuntu;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.payement main h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: Ubuntu;
}

.payement main .moyen {
    font-size: 15px;
    font-family: Ubuntu;
    letter-spacing: 2px;
    text-transform: uppercase;
}   

.payement main .moyen img {
    width: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

.payement main .total {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

.payement main button {
    display: block;
    width: 100%;
    background-color: #f51cda;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

.payement main .confirm {
    font-family: Ubuntu;
    font-size: 10px;
    letter-spacing: 2px;
    text-align: center;
}